# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.ipa
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (не используется, на всякий случай)
Pods/
